@font-face {
  font-family: 'Habel Handmade Duo';
  src: url('fonts/habel-handmade-duo.woff2') format('woff2'),
       url('fonts/habel-handmade-duo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Habel Handmade Duo', sans-serif;
  background-color: #fffdfd;
}

.heading {
  text-align: center;
  font-size: 2rem;
  padding-top: 15px;
  margin-bottom: 0;
  animation-name: heading-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: #000000
}


.box {
  display: flex;
  flex-wrap: wrap;
}

.left-side {
  margin: 70px 100px 4% 6%;
  padding-left: 20px;
}

.centre-side {
  margin-top: 50px ;
}

.right-side {
  margin: 70px 2% 4% 6%;
}

.card {
  flex: 1;
  border: none;
  background-color: transparent; 
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  width: 300px;
  /* box-shadow: 0 0 55px rgba(0, 0, 0, 0.1); */
  margin-left: 70px;
  padding: 10px;
  position: relative;
}

.card:hover{
  transform: scale(1.03);
}


  /* Define the grid areas for each card */
  .first-card,
  .sec-card {
    display: block;
    padding-left: 20px;
  }
  
  .first-card {
    margin-bottom: 20px;
  } 
  

  .third-card, 
  .fourth-card {
    display: block;
  }

  .fourth-card {
   margin-bottom: 20px;
  }

img {
  width: 40px;
}

.img {
  margin-top: 10px;
}

.boy-img {
  width: auto;
}

.card-para {
  font-size : 16px;
  text-align: justify;
}

.mobile-screen {
  border: 1px solid #000;
  box-shadow: 0 0 5px #000;
  position: relative;
  width: 300px;
  height: 550px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.mobile-screen:hover {
  transform: scale(1.04);
}

/* Close button styles */
.btn-close,
.btn-favorite {
  position: absolute;
  bottom: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn-close {
  right: 20px;
}

.btn-favorite {
  right: 60px;
}

.btn-close span,
.btn-favorite span {
  display: block;
  line-height: 30px;
  text-align: center;
}

.btn-close span {
  transform: rotate(45deg);
}

.btn-favorite span {
  color: red;
}

.gen {
  padding-top: 10px;
  height: 50px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name-pattern {
  text-align: center;
  margin: auto;
}
.person-detail {
  text-align: center;
  margin: auto;
}
table {
  border-collapse: collapse;
  margin: auto;
  padding-top: 10px;
}

th{
  color: gray;
  font-size: 10px;
  padding: 10px;
}

td {
  padding:0 20px 15px;
  color: #000;
}

.mobile-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #FFE4E1;
}

.button {
  position: absolute;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.left-button {
  left: 70px;
  background-color: #f1c40f;
}

.right-button {
  right: 70px;
  background-color: red;
}

.heart-icon {
  color: #fff;
}

.cross-icon {
  color: #fff;
}

.button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}
